<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Blog App</title>
</head>

<body>

    <h1>Blogs</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Contenido</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %} <!-- 1 -->
            <tr>
                <td>{{ article.title }}</td> <!-- 2 -->
                <td>{{ article.content }}</td> <!-- 2 -->
                <td><a href="{% url 'detail' article.id %}">Detalles</a></td> <!-- Enlace a la vista de detalle -->
                <td><a href="{% url 'edit' article.id %}">Editar</a></td>
                <td><a href="{% url 'delete' article.id %}">Borrar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create' %}">Nuevo Artículo</a>
</body>

</html>